body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    /*3*/ background-color: rgb(211, 211, 211);
}

.container {
    width: 600px; /* 1 */
    margin: 20px; /* 2 */
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
}

/*Navigation in HTML*/
#mainmenu {
    float: right;
}

h1 {
    margin:0;
}

p {
    line-height: 150%;
}