body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(230, 179, 179);
    width: 300px;
    height: 200px;
    border: 5px red solid;
    padding: 10px;
    margin:30px;
    float: left;
    float:right;
}
strong {
    width: 300px;
}
h2 {
    color:rgb(200,100,0);
    color: #C86400;
}
p {
    color:darkgray;
    line-height: 1.4;
/*    width: 300px;*/
}

/* IDs werden mit dem # und anschließenden namen aufgerufen
    das element mit der ID einmalig erhält den definierten style 
*/
#einmalig {
    color: rgb(0,0,200);
}

/* Classen werden mit dem . und anschließenden namen aufgerufen
    alle elemente mit der classe absatz erhalten den definierten style 
*/

.absatz {
    color: rgb(0,0,200);
}
/* Ein Element kann auch mehrere classen zugewiesen haben
*/
.zusatzclass {
    text-align: center;
}